form {
  display: flex;
  flex-direction: column;
  
}

.button-and-counter {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: Bungee;
  background-color: #4056a1;
  color: #FFFFFF;
}

output {
  font-family: Bungee;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 5px solid black;
  background-color: #f4f1ec;
}